{% extends "base.html.twig" %}

{% block title %}Les analyses!{% endblock %}

{% block body %}
        {% include "public/shared/_messages_flash.html.twig" %}
    </div>

    </div>
        {% if app.user %}
            <a href="{{ path('create') }}"><button type="submit" class="btn btn-warning">Poster une nouvelle analyse</button></a>
        {% endif %}

    <div class="row">
        {% for post in category.posts %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-img-top">
                        <img src="{{ post.imageUrl }}" class="img-fluid">
                    </div>
                    <div class="card-header">
                        <h3>{{ post.title | upper }}</h3>
                    </div>
                    <div class="card-content">
                        {{ post.content | raw }}
                    </div>
                    <div class="card-footer">
                        {{ post.createdAt | date('d-m-Y') }}
                    </div>
                    <a class="btn btn-sm btn-primary mt-3" href="{{ path('public_show_post', {'id' : post.id }) }}">Voir +</a>
                {% if app.user and post.user is same as app.user %}
                    <a href="{{ path('edit', {'id' : post.id }) }}"><button class="btn btn-primary mt-3" type="submit"> Modifiez vos analyses </button></a>
                    <a href="{{ path('delete', {'id' : post.id }) }}"><button class="btn btn-primary mt-3" type="submit"> Supprimer vos analyses </button></a>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}